@import "variables";

// Portfolio Page Styles
.portfolio {
  padding: 20px 0px;

  &.dark {
    @include theme(dark); // Apply dark theme
  }

  &.light {
    @include theme(light); // Apply light theme
  }

  .portfolio-header {
    display: flex;
    justify-content: center; // Center the navigation
    align-items: center;
    padding: 10px 20px;
    background-color: inherit; // Inherit background color based on theme
    color: inherit; // Inherit text color based on theme
    backdrop-filter: blur(10px); // Blur the content behind the navigation bar
    border-bottom: 1px solid inherit; // Inherit border color based on theme
    margin-bottom: 20px;
    position: sticky; // Make the header stick to the top
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; // Smooth transition for background color
    min-height: 70px;
    &.scrolled {
      background-color: inherit; // Semi-transparent background color when scrolled
      opacity: 0.65;
    }

    .portfolio-nav {
      display: flex;
      gap: 20px;

      a {
        text-decoration: none;
        color: inherit; // Inherit text color based on theme
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .theme-toggle {
      position: absolute; // Position the theme toggle button
      right: 20px; // Align it to the right
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      color: white;
      cursor: pointer;
      transition: border-color 0.25s;

      &:hover {
        border-color: #646cff;
      }

      &:focus,
      &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
      }
    }
  }

  .portfolio-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    section {
      padding: 20px;
      height: 100dvh;
      background-color: inherit;
      border: 1px solid inherit;
      border-radius: 8px;
      position: relative;

      .card {
        margin: 0 auto;
        padding: 10px;
        width: 80%;
        border: solid 1px inherit;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        h1 {
          color: inherit;
          font-size: 2em;
          margin: 0;
        }

        h2 {
          color: $dark-header-color;
          font-size: 2em;
          margin-bottom: 10px;
        }
      }
    }
  }

  .portfolio-footer {
    text-align: center;
    padding: 20px;
    background-color: inherit; // Inherit background color based on theme
    color: inherit; // Inherit text color based on theme
    border-top: 1px solid inherit; // Inherit border color based on theme
  }
}

.grid {
  background-image: var(--grid-background-image);
  background-size: 40px 40px;
  background-repeat: repeat;
}
